@font-face {
  font-family: "lalezar";
  src: url("Digi Lalezar Plus Circle.otf") format("opentype");
}

@font-face {
  font-family: "sahel";
  src: url("Sahel-Bold.ttf") format("opentype");
}

body {
  background: #F7F6FC;
  color: black;
  font-family: sahel;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
  width: 100%;
  position: fixed;
  margin: 0;
  overflow: hidden;
  user-select: none;
  -webkit-user-select: none;
  -moz-user-select: none;   
  -ms-user-select: none;
}

button:disabled {
  opacity: 0.5;
  cursor: not-allowed;
}

p {
  color: #17212b;
}

h3{
  color: black;
}

.menu {
  display: block;
  width: 75%;
  background-color: #ffffff;
  color: white;
  padding: 20px;
  border-radius: 30px;
  margin: 20px auto;
  text-align: center;
  font-size: 18px;
  position: relative;
}

.menu .logo {
  position: relative;
  width: 140px;
  height: auto;
  border-radius: 10px;
  display: block;
  margin: 0 auto;
}

.menu h1{
  color: #17212b;
  margin-top: 12px;
  margin-bottom: 2px;
}

.menu h5{
  margin-top: 15px;
  margin-bottom: 0;
  color: #898989;
}
.menu h3{
  margin-top: 10px;
  color: #000000;
}

.menu .start{
  width:80%;
  padding: 12px 20px;
  border: none;
  border-radius: 12px;
  background: #7470E1;
  color: white;
  cursor: pointer;
  font-size: 20px;
  font-family: lalezar;
}

.menu .leader-board-open{
  width:80%;
  padding: 12px 20px;
  border: none;
  border-radius: 12px;
  background: #7470E1;
  color: white;
  cursor: pointer;
  font-size: 20px;
  font-family: lalezar;
  margin-top: 10px
}

.menu .star{
  position: relative;
  width: 30px;
  height: auto;
  border-radius: 10px;
  display: block;
  margin : auto;
  margin-top: 5px;
}

.game{
  display: none;
  width: 75%;
  background-color: #ffffff;
  color: white;
  padding: 20px;
  border-radius: 30px;
  margin: 20px auto;
  text-align: center;
  font-size: 18px;
  position: relative;
}

.game h4{
  color: black
}

.timer{
    position: relative;
    margin: auto;
    width:95%;
    height:9px;
    background:#ddd;
    border-radius:999px;
    overflow:hidden;
}

.timer-fill{
    width:80%;
    height:100%;
    background:#3b82f6;
    transition:width .1s linear;
}

.question{
  display: block;
  width: 90%;
  background-color: #F6F5FC;
  color: white;
  padding: 20px;
  border-radius: 30px;
  margin: 20px auto;
  text-align: center;
  font-size: 18px;
  position: relative;
}

.question .logo{
  position: relative;
  width: 65px;
  
}

.option{
  margin-top: 10px;
  position: relative;
  display: flex;
  height: 75px;
  background-color: rgb(255, 255, 255);
  border-radius: 25px;
  cursor: pointer;
  user-select: none;
}

.option-number{
  position: relative;
  display: flex;
  width: 45px;
  height: 45px;
  margin: auto 20px;
  border-radius: 40px;
  background-color: #7470E1;
}

.option-name{
  position: relative;
  margin: auto;
  color: white;
  margin-top: 7px;
}

.option-text{
  margin: auto 0;
}

.home{
  position: relative;
  background-color: #7470E1;
  width: 60%;
  border-radius: 40px;
  border: none; 
  height: 50px;
  font-family: lalezar;
  color: white;
  font-size: 20px;
}

.channel{
  position: relative;
  background-color: #ff3983;
  width: 80%;
  border-radius: 40px;
  border: none; 
  height: 50px;
  font-family: lalezar;
  color: white;
  font-size: 1rem;
}

.loose{
  display: none;
  width: 75%;
  background-color: #ffffff;
  color: white;
  padding: 20px;
  border-radius: 30px;
  margin: 20px auto;
  text-align: center;
  font-size: 18px;
  position: relative;
}

.loose-image{
  width: 200px;
  height: 200px;
}

.leader-board{
  display: none;
  width: 75%;
  background-color: #ffffff;
  color: white;
  padding: 20px;
  border-radius: 30px;
  margin: 20px auto;
  text-align: center;
  font-size: 18px;
  position: relative;
}

.item{
  display: flex;
  background-color: #f5f5f5;
  border: none;
  border-radius: 40px;
  height: 40px;
  margin-top: 10px;
  margin-bottom: 10px;
}

.item-titles{
  display: flex;
  background-color: #f5f5f5;
  border: none;
  border-radius: 40px;
  height: 40px;
  margin-top: 10px;
  margin-bottom: 10px;
}

.star{
  margin: auto;
  margin-left: 15px;
  margin-right: 0;
  width: 20px;
  height: 20px;
}

.rank{
  margin: auto;
}

.name{
  margin: auto;
}
.score{
  margin: auto;
}

.gift{
  margin: auto;
  margin-left: 10px;
}

.square {
  position: absolute;
  top: -50px;
  width: 40px;
  height: 40px;
  border-radius: 8px;
  animation: fall linear forwards;
  opacity: 0.8;
  pointer-events: none;
}

.ad{
  background-color: #ffffff;
  height: 100%;
  display: none;
  width: 100%;
  text-align: center;
  font-size: 18px;
  position: relative;
}

.ad-image{
  position: relative;
  margin-top: 1px;
  width: 100%;
  height: 80%;
}

.ad .button{
  position: relative;
  background-color: #7470E1;
  width: 60%;
  border-radius: 40px;
  border: none; 
  height: 50px;
  font-family: lalezar;
  color: white;
  font-size: 20px;
  margin-top: 25px;
}
@keyframes fall {
  0% {
    transform: translateY(0) rotate(0deg);
    opacity: 1;
  }
  100% {
    transform: translateY(70vh) rotate(720deg);
    opacity: 0;
  }
}

